<h1>Estas creando un actor</h1>
<%= form_for @actor do |a| %>
<%= a.text_field :name, placeholder: 'Nombre' %>
<%= a.text_field :bio, placeholder: 'Bio'%>
<%= a.text_field :birth_date, placeholder: 'Birth date' %>
<%= a.text_field :birth_place, placeholder: 'Birth place' %>
<%= a.text_field :image_url, placeholder: 'Path image' %>
<%= a.check_box :alive, placeholder: 'Alive'%>
<%= a.text_field :death_date, placeholder: 'Death date' %>
<%= a.text_field :death_place, placeholder: 'Death place' %>
<%= a.submit %>
<% end %>